.carousel {
	width: 400px;
}

app-artist {
	vertical-align: middle;
}

.carousel-control-prev {
	margin-left: -4em;
}

.carousel-control-next {
	margin-right: -4em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2em;
  height: 2em;
}