<nav class="navbar navbar-expand-lg sticky-top w-100">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand">
        <a class="navbar-brand" href="/">
          <h1 class="title">Browsing Spotify</h1>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="btn btn-dark btn-lg login-btn" role="button" href="http://localhost:8888/login">Log in</a>
      </li>
    </ul>
  </nav>
<main class="container-fluid">
	<router-outlet></router-outlet>
</main>
